name: Django CI

on: 
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Deploy to Server
      uses: easingthemes/ssh-deploy@main
      env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: "/home/pracker/"
          EXCLUDE: "/.git/, /.github/, .gitIgnore, LICENSE, README.md, requirements.txt"

    - name: Migrate database and collect static files
      uses: JimCronqvist/action-ssh@master
      env:
        NAME: "Root"
      with:
        hosts: ${{ secrets.REMOTE_USER }}@${{ secrets.REMOTE_HOST }}
        privateKey: ${{ secrets.SSH_PRIVATE_KEY }}  
        debug: true
        command: |
          cd /home/pracker/
          source env/bin/activate
          pip install -r requirements.txt
          cd pracker_site
          python manage.py makemigrations
          python manage.py migrate
          python manage.py collectstatic --clear --no-input

